#footer
  background: color-footer-background
  padding: 50px 0
  border-top: 1px solid color-border
  color: color-grey
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline

#footer-info
  display: flex
  line-height: line-height
  font-size: 0.85em
  .footer-wdp-logo
    display: block;
    background-image: url('/assets/logo/aux-logo-centered.svg')
    background-size: 100%
    background-repeat: no-repeat
    margin: 0
    width: 20px
    height: 20px
  .copyright
    margin: 0 0 0 auto
    color: #666666