@import "_variables"

#header 
  height: 220px
  position: relative
  border-bottom: 1px solid #ddd

.header 
  display: flex
  flex-direction: column
  margin: 10px auto
  width: 100%
  justify-content: center

  .logo-wrap 
    display: flex
    margin: 24px auto
    height: 140px
    width: 415px
    border-radius: 70px
    background-color: color-header-background
    box-shadow: inset 0px 12px 16px 0 rgba(0, 0, 0, 0.1), inset 0px -12px 16px 0 rgb(255, 255, 255)
    border: 1px solid color-border-logo
    flex-shrink: 0
    .header-logo 
      display: flex
      margin: auto
      width: 375px
      height: 100px
      justify-content: center
      border-radius: 50px
      background-color: color-header-background
      box-shadow: 0px 12px 16px 0 rgba(0, 0, 0, 0.1), 0px -12px 16px 0 rgb(255, 255, 255)
    
  .logo 
    min-width: 100px
    height: 80px
    margin: auto
    border-radius: 69px
    background: color-darkgrey

    @media screen and (max-width: 350px) 
      min-width: 0px
    
  .title 
    font-size: 3rem
    align-self: center
    font-family: "Righteous", cursive
    color: color-darkgrey
  
  .left 
    text-align: center
    margin: 0 15px 0 0
  
  .right 
    text-align: center
    margin: 0 0 0 15px
  
  #header-inner 
    position: relative
  
  .inner 
    display: flex
    #main-nav 
      display: flex
      margin: auto auto auto 0

      .main-nav-link 
        display: block
        font-weight: 500
        letter-spacing: 1px
        color: #666
        opacity: 0.7
        text-decoration: none
        -webkit-transition: opacity 0.2s
        -moz-transition: opacity 0.2s
        -ms-transition: opacity 0.2s
        transition: opacity 0.2s
        padding: 0px 15px
      
    #search-form-wrap
      display: flex
      height: 30px
      right: 0px
      opacity: 1
      transition: 0.2s ease-out
      @media mq-mobile
        width: 100%
        right: -100%
  
    .search-form
      background: #fff
      padding: 5px 15px
      border-radius: 15px
      border: 1px solid #dcdcdc

      .search-form-input
        border: none
        background: none
        color: color-default
        width: 100%
        font: 13px font-sans
        outline: none

      .search-form-submit
        position: absolute
        top: 50%
        right: 10px
        margin-top: -7px
        font: 13px font-icon
        border: none
        background: none
        color: #bbb
        cursor: pointer
        &:hover, &:focus
          color: #777
      
