#sidebar
  @media mq-normal
    column(sidebar-column)

.widget-wrap
  margin: block-margin 0
  background: color-background

.widget-title
  @extend $block-caption

.widget-border
  margin: 0
  background: #f3f3f3
  border: 1px solid color-widget-border
  padding: 12px
  border-radius: 20px
  box-shadow: inset 0px 6px 8px 0 rgba(0,0,0,0.1),inset 0px -6px 8px 0 rgb(255, 255, 255)

.widget
  color: color-sidebar-text
  background: color-widget-background
  border: 1px solid #e9e9e9
  padding: 15px
  border-radius: 10px
  box-shadow: 0px 6px 8px 0 rgba(0,0,0,0.1), 0px -6px 8px 0 rgb(255, 255, 255)
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline
  ul, ol, dl
    ul, ol, dl
      margin-left: 15px
      list-style: disc